html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*meche no form ou o principal que engloba tudo*/
.form-container {
    background-image: linear-gradient(rgb(179, 132, 197), rgb(142, 113, 187));
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 525px;
    margin: 100px auto 0;
    border-radius: 15px;
    border: 3px solid #e2d6f0
}
/*deixa td alinhado*/
.inf-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px;
}

.input-inf {
    padding: 7px;
    border: none;
    border-radius: 5px;
    margin: 8px;
}

.inf-cidade {
    display: flex;
    flex-direction: row;
}

.inf-select {
    display: flex;
    flex-direction: row;
}

.inf-radio {
    display: flex;
}

.radio-input {
    display: flex;
    flex-direction: column;
}

/*botões de gravar e apagar*/
.btn-form{
    width: 100px;
    height: 30px;
    background-color: white;
    border-radius: 8px;
    border:2px solid #000000 ;
}
.btn-form:hover{
    transform: scale(1, 1.3);
    border: 2px solid rgb(139, 41, 179)
    
}
/*deixando redondo as bordas dos inputs*/
input{
    border-radius: 5px;
}
textarea{
    border-radius: 7px;
}
.radio{
    width: 50px;
    margin-top: 5px;
}
select{
    border-radius: 6px;
}
option{
    border-radius: 6%;
}